@import "tailwindcss";
@import "@nuxt/ui";

/* 
https://github.com/tailwindlabs/tailwindcss-typography
*/
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Inter', sans-serif;
}

@layer utilities {
  a:hover {
    @apply text-primary;
  }
}

@layer utilities {
  @media (pointer: coarse) {
    a:hover {
      @apply text-primary;
    }

    button[class~="hover:bg-elevated"]:hover {
      @apply bg-elevated;
    }

    button[class~="hover:bg-inverted/90"]:hover {
      @apply bg-inverted/90;
    }
  }
}

:root {
  --app-header-height: 64px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.6, 1);
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}
.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}